@{
    //using DataBaseManager;
}

<head>
    <title>Login</title>
</head>


<h1>Login</h1>
<hr />

<form method="post">
    <label>Username: </label>
    <input id="usrnm" type="text" placeholder="Username/CNP" />
    <br>
    <label>Password: </label>
    <input id="pwd" type="password" placeholder="Password" />
    <br>
    <button id="login_submit" type="submit" onclick="@{}">Log In</button>

    <br>
    <a href="register.html">Register</a>
</form>